# General
**/*.log*

# MacOS
.DS_Store

# VSCode IDE
.vscode

# JetBrains IDE
.idea/*

# Python
*.pyc
.mypy_cache
__pycache__
*.egg-info/

# Virtual environments
env/
var/

# Pixi
.pixi

# Secret files
.env

# Logs
error.log

# Dagster
**/storage/*
.nux
.temp*
.tmp*
.telemetry
history
lib
logs
schedules
storage

# Data
data/*
!data/seeds/

# postgres
dagster-postgres/
storage-postgres/
